body {
    background-color: #F0EAD6;
    letter-spacing: 2px;
    /* affects spacing between letters*/
}

h1 {
    color: #3F3B6C;
}

h3 {
    color: #50577A;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

a {
    text-decoration: none;
    /*removes the underlign from hyperlink text*/
}